<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foton</title>
    <!-- Incluir links para os arquivos CSS e JS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Incluir link para seu arquivo de estilo customizado
    <link rel="stylesheet" href="seu-estilo.css">
     -->
</head>
<body>

<!-- Cabeçalho bing
<header>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                    <a class="nav-link" href="#">Serviços</a>
                    <a class="nav-link" href="#">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
-->
<!-- Cabeçalho gpt

<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Nome da Marca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
 -->

 <!-- Cabeçalho -->
 <header>
    <nav class="navbar navbar-expand-md fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#">foton</a>
        <footer class="bg-light py-3 text-center">
            <p class="mb-0">&copy;<span id="currentYear"></span></p>
        </footer>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item text-center">
                    <a href="{% url 'homepage' %}" class="nav-link ">Inicio</a>
                    <a href="{% url 'GestaoContrato:GestaoContrato_home' %}" class="nav-link ">Gestão de Contratos</a>
                    <a href="{% url 'GestaoCliente:GestaoCliente_home' %}" class="nav-link ">Gestão de Clientes</a>
                    <a href="{% url 'GestaoOrcamento:GestaoOrcamento_home' %}" class="nav-link ">Gestão de Orçamentos</a>
                    <a class="nav-link" href="#">Contato</a>
                    <br>
                    <a class="nav-link" href="http://www.arqlamp.com">Design by Lamp</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Conteúdo Principal -->
<main class="container mt-4">
    {% block content %}
    {% endblock %}
</main>

<!-- Script para coletar o ano atual -->
<script>
    const currentYear = new Date().getFullYear();
    document.getElementById('currentYear').textContent = currentYear;
</script>


    <!-- SCRIPTS PARA O MODAL-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    
    <!-- Incluir scripts do Bootstrap nota: sempre após o jquery-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
