{% extends "base_home.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Bem-vindo ao Foton!</h1>
        <p>O Foton é um sistema de gestão de escritórios de arquitetura, engenharia e construção que foi desenvolvido para solucionar os problemas diários dos usuários da indústria da construção civil.</p>
        <p>Com o Foton, você pode gerenciar contratos, clientes e orçamentos de forma eficiente, proporcionando uma gestão coesa e estável para o seu negócio.</p>
        <p>As aplicações disponíveis no Foton são:</p>
        <ul>
            <li>Gestão de Contratos: permite incluir, visualizar, editar e excluir contratos.</li>
            <li>Gestão de Clientes: permite incluir, visualizar, editar e excluir clientes.</li>
            <li>Gestão de Orçamentos: permite incluir, visualizar, editar e excluir orçamentos.</li>
        </ul>
        <p>Acesse, o foton:</p>
        <!--<a href= "{% url 'account_login' %}" class="btn btn-primary btn-block mt-3">Acessar o sistema</a>-->
        <a href="{% url 'account_login' %}" class="btn btn-primary btn-block mt-3">Acessar o Foton</a>
        <a href= "../admin/" class="btn btn-primary btn-block mt-3">Administrar o sistema</a>
        <br><br><br><br><br>
    </div>
    <!---->
{% endblock %}
