<!DOCTYPE html>
<html>
<head>
    <title>Excluir Contrato</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Excluir Contrato</h1>
        <p>Você tem certeza que deseja excluir o contrato ID: {{ contrato.id }}?</p>
        <form method="POST" action="{% url 'gestao_contrato:excluir' contrato.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'gestao_contrato:index' %}" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>