{% extends "base.html" %}


{% block content %}
    <section >
        <h1>Dashboard do Usuário</h1>

        <p>Olá, {{ request.user.username }}!</p>
    </br>
    <p>Último login: {{ request.user.last_login|date:"F d, Y H:i" }}</p>
        <section>
            <h2>Seus Dados do Grupo {{ user_group }}</h2>
            <ul>
                {% for item in filtered_data %}
                    <li>{{ item.nome_do_campo }}</li>
                {% endfor %}
            </ul>   
        </section>
    </section>
<br><br><br><br><br><br>

{% endblock %}