{% extends "base.html" %}

{% block content %}
<!-- Conteúdo específico do sistema -->
<div class="container">
    <h1>Editar Contrato</h1>
    <form method="POST" action="{% url 'gestao_contrato:incluir' contrato.id %}">
        {% csrf_token %}
        <label for="numero">Número:</label>
        <input type="text" name="numero" id="numero" value="{{ contrato.numero }}">
        <label for="cliente">Cliente:</label>
        <input type="text" name="cliente" id="cliente" value="{{ contrato.cliente }}">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ contrato.titulo }}">
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" value="{{ contrato.data }}">
        <!-- Outros campos do contrato -->
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
<!-- Conteúdo específico do sistema -->
{% endblock %}