{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Gestão de Clientes</h1>
    <div class="mb-3">
        <a href="{% url 'GestaoCliente:incluir' %}" class="btn btn-primary">Incluir Novo Cliente</a></br>
        <form class="form-inline mt-2 mt-md-0" method="GET" action="{% url 'GestaoCliente:GestaoCliente_home' %}">
            <input class="form-control mr-sm-2 mt-2 mt-md-0" type="text" placeholder="CPF/CNPJ" name="documento" value="{{ request.GET.documento }}">
            <select class="form-control mr-sm-2 mt-2 mt-md-0" name="tipo_pessoa">
                <option value="">Todos</option>
                <option value="PF" {% if request.GET.tipo_pessoa == 'PF' %}selected{% endif %}>Pessoa Física</option>
                <option value="PJ" {% if request.GET.tipo_pessoa == 'PJ' %}selected{% endif %}>Pessoa Jurídica</option>
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrar</button>
        </form>
    </div>
    <!-- Lista de clientes -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.tipo_pessoa }}</td>
                {% if cliente.tipo_pessoa == 'PF' %}
                    <td>{{ cliente.nome_completo }}</td>
                    <td>{{ cliente.cpf }}</td>
                    <td>-</td>
                    <td>-</td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                    <td>{{ cliente.nome_fantasia }}</td>
                    <td>{{ cliente.cnpj }}</td>
                {% endif %}
                <td>
                    <!-- Botões para visualizar, editar ou excluir cliente -->
                    <a href="{% url 'GestaoCliente:detalhes' cliente.id %}" class="btn btn-primary">Detalhes</a>
                    <a href="{% url 'GestaoCliente:editar' cliente.id %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'GestaoCliente:excluir' cliente.id %}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Conteúdo específico da administração do sistema -->
{% endblock %}
