# Tunnel
TUNNEL_TOKEN=

# Banco de dados
POSTGRES_USER=redmine
POSTGRES_PASSWORD=senha_super_secreta
POSTGRES_DB=redmine

# SMTP (e-mail)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=email@example.com
SMTP_PASSWORD=senha_do_email_super_secreta